@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  color: #dadada;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff4c;
}
::-webkit-scrollbar-track {
  box-shadow: inset #fff;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 121px !important;
  background-color: transparent;
}

.slick-list {
  overflow: visible !important;
}

/* input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   border: none;
   background-color: #f50;
   box-shadow: -3px 0 0 3px #fff;
}

input[type='range']:hover::-webkit-slider-thumb {
   background-color: red;
} */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  outline: none;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  margin-top: -0.1rem; /* Centers thumb on the track */
  background-color: white;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  border: none;
  display: none;
}
input[type='range']:hover::-webkit-slider-thumb {
  display: block;
}
input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: #ffffff60 0px 0px 0px 5px;
}

div > .bg-vip {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
